/* Mobile */
@media screen and (min-width: 320px) and (max-width: 520px) {
    .slider-box p,
    .slide-btn {
        display: none;
    }
    .slider-box h3 {
        font-size: 20px;
    }
    .slider-box {
        right: 10%;
        text-align: center;
    }
    h1.site-title{
        font-size: 28px;
    }
    .info p{
        text-align: center;
    }
}

/* Mobile Portrait View */
@media screen and (max-width: 767px) {
    .wpcf7 input[type="text"],
    .wpcf7 input[type="tel"],
    .wpcf7 input[type="email"],
    .wpcf7 textarea {
        width: 100%;
    }
    .slider-box p,
    .slide-btn,.slider-box h2 {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .slider-box h3 {
        font-size: 25px;
    }
    .slider-box p{
        font-size: 15px;
    }
    .slider-box {
        right: 40%;
    }
}

@media screen and (max-width: 1000px) {
    #mySidenav nav#site-navigation {
        background: transparent;
        text-align: left;
    }
    .toggle-nav button {
        font-weight: bold;
        background: #f5c115;
        border: none;
        color: #000000;
        font-size: 15px;
        padding: 16px;
        line-height: 1;
    }
    .sidenav {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 99999;
        left: 0;
        top: -110%;
        overflow-x: hidden;
        transition: 0.5s top ease-in-out;
        overflow-y: scroll;
        background: #000000;
        opacity: 0.9;
        visibility: hidden;
    }
    body.show-main-menu .sidenav {
        visibility: visible;
        top: 0;
        transition: 0.5s top ease-in-out;
    }
    .sidenav .close-button {
        font-size: 36px;
        display: block !important;
        color: #fff;
    }
    .sidenav #site-navigation {
        width: 100%;
    }
    .toggle-nav span {
        font-size: 30px;
        cursor: pointer;
        text-align: right;
    }
    .main-nav ul ul li,
    .menubar .nav ul li,
    .toggle-nav {
        display: block;
    }
    .main-nav ul li a {
        padding: 8px;
        text-decoration: none;
        font-size: 15px;
        color: #fff;
        display: block;
        float: none;
        margin: 5px 0;
        border-right: none;
    }
    .main-nav ul li ul li a:before {
        content: "\00BB \00a0";
    }
    .main-nav ul.sub-menu a:hover {
        padding-left: 20px !important;
        background: #fff !important;
    }
    .main-nav ul ul {
        position: static;
        width: 100%;
        background: transparent;
        border-top-width: 0px;
        border-bottom-width: 0px;
        box-shadow: none;
    }
    .main-nav ul ul a {
        border-bottom: none;
        padding-left: 40px;
    }
    .main-nav ul ul ul.sub-menu a {
        padding-left: 40px;
    }
    .main-nav li {
        padding: 0 15px;
        display: block;
        border-bottom: solid 1px #565656;
    }
    .main-nav ul li:last-child {
        border-bottom: 1px #565656 solid;
    }
    .main-header-box {
        padding-bottom: 15px;
    }
    .main-menu {
        padding: 0em;
    }
    .main-nav ul.sub-menu > li > a:before {
        content: unset;
    }
    .main-nav ul.sub-menu > li > a:hover:before {
        opacity: 0;
        left: 0px;
        width: 0px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .slider-box{
        right: 40%;
    }
}